{
    margin:0;
}
.container{
    width:1500px;
    background:#670b0b;
    margin:auto
}
header{
    height:50px;
    background;#333;
}
nav{
    height:600px;
    background:#670b0b;
}
main{
    height:600px;
    background:#a31818;
}
footer{
    height:80px;
    background:#5d1111;
}